/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #6990F2;
}
::selection {
  color: #fff;
  background: #6990F2;
}
.wrapper {
  width: 430px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.wrapper header {
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
form {
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
  position: relative;
}
form p {
  color: #6990F2;
  margin-top: 15px;
  font-size: 16px;
}
#uploadButton {
  background-color: #6990F2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
#progressContainer {
  margin-top: 20px;
  background: #E9F0FF;
  border-radius: 5px;
  padding: 10px;
}
.progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
}
.progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #6990F2;
  border-radius: inherit;
}
.uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area::-webkit-scrollbar {
  width: 0px;
}
